# Python

**pycache**/
*.py[cod]
*.pyo

# Virtual environments

venv/
.venv/
env/

# Jupyter

.ipynb_checkpoints/

# VS Code

.vscode/

# Streamlit cache

.streamlit/secrets.toml

# LaTeX auxiliary files

*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.lot
*.lof
*.out

# OS files

.DS_Store
Thumbs.db
